@model NHASoftware.ViewModels.SubscriptionFormViewModel

@{
    ViewData["Title"] = "Subscription Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SubscriptionName" class="control-label"></label>
                <input asp-for="SubscriptionName" class="form-control"/>
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubscriptionDate" class="control-label"></label>
                <input asp-for="SubscriptionDate" class="form-control"/>
                <span asp-validation-for="SubscriptionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubscriptionCost" class="control-label"></label>
                <input asp-for="SubscriptionCost" class="form-control"/>
                <span asp-validation-for="SubscriptionCost" class="text-danger"></span>
            </div>

            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.SubscriptionDay)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
