@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.FriendSystem
@using NHA.Website.Software.Services.SessionHistory
@inject IFriendSystem _FriendSystem
@inject SignInManager<ApplicationUser> _SignInManager
@inject UserManager<ApplicationUser> _UserManager
@inject IActiveSessionTracker _sessionTracker
@{
    if (_SignInManager.IsSignedIn(User))
    {
        <div class="col position-fixed bg-gradient overflow-scroll" style="height: 100%;">
            <div class="row m-auto border-bottom border-primary">
                <div class="h3 text-center">Friends</div>
            </div>

            @{
                var friends = await _FriendSystem.GetUsersFriendListAsync(_UserManager.GetUserId(User)!);

                foreach (var friend in friends)
                {
                    var lastSessionActivityDate = await _sessionTracker.GetUserLastActiveTime(friend);
                    
                    <div class="row m-auto rounded-1 p-2 brightness-2">
                        <button class="col btn-dark border-light border bg-black bg-opacity-50 rounded-pill p-0">
                            <a class="col row bg-transparent m-auto text-decoration-none" role="button">
                                <div class="col-3 m-auto p-0">
                                    <img src="~/ProfilePictures/@friend.ProfilePicturePath" class="img-fluid col-12 rounded-circle bg-primary"/>
                                </div>
                                <div class="col m-auto h4">@friend.DisplayName</div>
                                @if (lastSessionActivityDate.HasValue)
                                {
                                    var minutesSinceLastActivity = (int)(DateTime.UtcNow - lastSessionActivityDate.Value).TotalMinutes;

                                    if(minutesSinceLastActivity < 5)
                                    {
                                        <div class="col m-auto bg-success rounded-pill">@minutesSinceLastActivity.ToString()m ago</div>
                                    }
                                    else
                                    {
                                        <div class="col m-auto bg-danger rounded-pill">@minutesSinceLastActivity.ToString()m ago</div>
                                    }
                                }
                                else
                                {
                                    <div class="col m-auto bg-danger rounded-pill">offline</div>
                                }
                            </a>
                        </button>
                    </div>
                }
            }
        </div>
    }
}