@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    var returnUrl = HtmlEncoder.Encode(ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item align-self-center me-2 order-2 order-sm-1">
            <input type="text" class="form-control align-self-center interactable w-100 w-sm-auto" id="searchInput" placeholder="Search Anime Social" style="min-width: 250px;" />

            <!-- Dropdown container -->
            <ul id="searchDropdown" class="bg-body-tertiary"
                style="
                    position: absolute;
                    top: 100%;
                    border: 1px solid #fff;
                    border-top: none;
                    max-height: 400px;
                    max-width: 300px;
                    overflow-y: auto;
                    z-index: 1000;
                    display: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                ">
            </ul>
        </li>
        var user = await UserManager.GetUserAsync(User);

        @if(user != null)
        {
            string profilePicture = "~/ProfilePictures/" + user.ProfilePicturePath;

            <li class="nav-item dropdown w-100 align-content-center order-1 order-sm-2">

                <!-- Profile Picture Dropdown Toggle -->
                <a class="nav-link dropdown-toggle p-0 pe-2 interactable text-center" href="#" id="profileDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="ProfilePicture"
                         src="@Url.Content(profilePicture)"
                         alt="Current User's Profile Picture"
                         class="rounded login-profile-picture " />
                </a>

                <!-- Dropdown Menu -->
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-center" aria-labelledby="profileDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Users" asp-action="GetProfiles" asp-route-userId="@user.Id">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            Manage
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@returnUrl">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        }


    }
    else
    {
        <li class="nav-item align-self-center me-2 order-3 order-sm-1">
            <input type="text" id="searchInput" class="form-control interactable d-block text-center " placeholder="Search Anime Social" />
            <!-- Dropdown container -->
            <ul id="searchDropdown" class="bg-body-tertiary"
                style="
                    position: absolute;
                    top: 100%;
                    border: 1px solid #fff;
                    border-top: none;
                    max-height: 400px;
                    max-width: 300px;
                    overflow-y: auto;
                    z-index: 1000;
                    display: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                ">
            </ul>
        </li>
        <li class="nav-item align-self-center interactable w-100 w-sm-auto order-1 order-sm-2">
            <a class="nav-link btn-dark text-light  rounded-2 h5 m-0  d-block text-center text-nowrap" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus"></i>
                Register
            </a>
        </li>
        <li class="nav-item align-self-center interactable w-100 w-sm-auto order-2 order-sm-3">
            <a class="nav-link btn-dark text-light rounded-2 h5 m-0  d-block text-center text-nowrap" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i>
                Login
            </a>
        </li>
    }
</ul>
<script src="~/Scripts/Shared/searchbar.js"></script>

