@model NHASoftware.ViewModels.AnimeVMs.LetterIndexViewModel
@{
    ViewData["Title"] = "Anime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/AnimePages.css">
</head>

<h1>@Model.AlphabetLetter</h1>

@{
    foreach (var anime in Model.AnimeList)
    {
        <a asp-action="AnimePage" asp-route-id="@anime.Id" asp-controller="Anime" class="link-light animepage-links">@anime.AnimeName</a>
        <br/>
    }
}
