
/*****************************************************************************************************
    This is the seperator of modern forum post styling
******************************************************************************************************/

.modern-forum-post-container {
    /*background-color: #00701e;*/
    border-radius: 15px;
    border: 2px ridge red;
}

.modern-forum-post-container:hover {
    filter: brightness(.85);
}

.modern-thread-link {
    text-decoration: none;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

summary {
    display: list-item; /* ensures default disclosure triangle appears */
    cursor: pointer;
}



