@model NHASoftware.Entities.Forums.ForumTopic

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create ForumTopic</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumSectionId" class="control-label"></label>
                <select asp-for="ForumSectionId" class ="form-control" asp-items="ViewBag.ForumSectionId"></select>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.PostCount)
                @Html.HiddenFor(m => m.ThreadCount)
                @Html.HiddenFor(c => c.LastestPost)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (!string.IsNullOrWhiteSpace(ViewData["Reffer"].ToString()))
    {
        <a href="@ViewData["reffer"]">Return to Post</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
