@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NHA.Website.Software.Views.ViewModels.ForumVMs.ForumTopicDetailsView
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Forums/ForumStyles.css">
    <script src="~/Scripts/Forums/ForumTopicDetails.js" type="text/javascript"></script>
</head>

<div class="container-fluid">
    <h1 class="row col-auto">@Model.topic.Title</h1>
    <div class="row">
        <a asp-controller="ForumPosts" asp-area="" asp-action="Create" asp-route-id="@Model.topic.Id" class="col-auto btn-primary btn-dark btn-link">Create Post</a>
    </div>
    
    <div class="row">
        <table id="ForumPostTable" class="tableCustom" width="100%">
        </table>
    </div>
</div>

<hr />



@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var prePost = '@Html.Raw(Json.Serialize(@Model.Posts))';
            var post = JSON.parse(prePost);

            InitializeAllTopicPosts(post);

            $("#ForumPostTable").on("click", ".modern-thread-link", function () {
                var button = $(this);
                window.location.href = "/ForumPosts/Details/" + button.attr("post-id");
            });
        });
    </script>

}




