body {
}

.friend-request-popup-icon-holder {
    padding: 5px;
}
.actionbar-icon-1 {
    height: 2.0em;
    width: 2.0em;
}

.Top-Action-Bar {
    background-color: black;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: flex-start;
    padding: auto;
}
.actionbar-action-item {
    margin: 0em 3em;
}

body {
}

#FriendRequestModalBtn {
    border: none;
    background-color: white;
    border-radius: 50%;
}

#FriendRequestModalBtn:hover {
    border: none;
    background-color: dimgray;
}


#FriendRequestModalBtn:active {
    background-color: silver;
}

/* Friend Request Modal Container */
.friend-request-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Actual Friend Request Popup modal*/
.friend-request-popup-modal {
    visibility: hidden;
    width: 20em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 1em;
    left: 4em;
}

/* CSS for little tail that comes off popup modal towards btn  */
.friend-request-popup .friend-request-popup-modal::after {
    content: "";
    position: absolute;
    top: -1%;
    left: 2%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.friend-request-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.friend-request-icon {
    width: 5em;
    height: 5em;
    border-radius: 1em;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}