/********************************************************************************
    Articles E.G. Forums Style Config
********************************************************************************/
article {
    display: block;
}

.group-thread__heading {
    color: #e1bb34;
    font-family: "MuseoSans";
    font-size: 2.5em;
    letter-spacing: normal;
    font-weight: normal;
}

.forum-post-user {
    color: #f70fe0;
    font-family: "MuseoSans";
    font-size: 1.6em;
    letter-spacing: normal;
    font-weight: normal;
}

.group-thread {
    background: transparent url(https://www.runescape.com/img/rs3/forums/panel.jpg) repeat bottom left;
    box-shadow: 0 -4px 5px -1px #000, 0 4px 5px -1px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 1em;
    border-radius: 25px;
}

.forum-post-thread {
    background: transparent url(https://www.runescape.com/img/rs3/forums/panel.jpg) repeat bottom left;
    box-shadow: 0 -4px 5px -1px #000, 0 4px 5px -1px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 1em;
}

.Post-Actions-Thread {
    background: transparent url(https://www.runescape.com/img/rs3/forums/panel.jpg) repeat bottom left;
    box-shadow: 0 -4px 5px -1px #000, 0 4px 5px -1px #000;
    display: block;
    margin: auto;

    border-left: 1px solid #1e313c;
    border-right: solid 1px #000;
    color: #d7dbe1;
    padding: 5px 5px 5px 5px;
    position: relative;
    line-height: 20px;
    text-align: center;
}

.group-thread__link {
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 5px 10px;
}

.group-thread__details {
    border-right: solid 1px #000;
    float: left;
    margin-top: 8px;
    width: 70%;
}

.group-thread__summary {
    color: #d7dbe1;
    font-size: 1.2em;
    white-space: pre-wrap;
}

.group-thread:hover {
    filter: brightness(1.5);
}

.group-thread .forum-stat {
    border-left: 1px solid #1e313c;
    border-right: solid 1px #000;
    color: #d7dbe1;
    display: block;
    float: left;
    font-size: 1.4em;
    height: 100px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 30px 0 0;
    position: relative;
    text-align: right;
    max-height: 136px;
}

.post-end-group-thread {
    border-left: 1px solid #1e313c;
    border-right: solid 1px #000;
    color: #d7dbe1;
    display: block;
    float: right;
    font-size: 1.4em;
    height: 100px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 30px 0 0;
    position: relative;
    text-align: right;
    max-height: 136px;
}


/********************************************************************************
    Forum Group  Styling
********************************************************************************/

.forum-group {
    min-height: 57px;
    overflow: hidden;
    padding-bottom: 27px;
    position: relative;
}

.forum-group__heading {
    /*float: left;*/
    font-size: 2.5em;
    max-height: 200px;
    margin: 5px 10px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    /*position: relative;*/
    white-space: normal;
    color: #e1bb34;
    word-wrap: break-spaces;
}

.forum-group[open] .thread-plate-titles--rootview, .forum-group--open .thread-plate-titles--rootview {
    display: block;
}

.forum-group .group-thread .forum-stat--latest:last-child {
    text-align: right;
}

.forum-group--open .group-thread--rootview, html.details .group-thread--rootview {
    display: block;
}


/********************************************************************************
    Forum Stat
********************************************************************************/

.forum-stats {
    cursor: pointer;
    display: block;
    margin: 5px 0;
    overflow: hidden;
    padding-right: 25px;
    background-color: #1b252c;
    border: 1px solid #404448;
    background: transparent url(https://www.runescape.com/img/rs3/forums/panel.jpg) repeat bottom left;
    border-radius: 20px;
}

/********************************************************************************
    Thread plate setup. E.G. Details Top Bar
********************************************************************************/

.thread-plate-titles {
    text-align: right;
}

.thread-plate-title {
    color: #d7dbe1;
    display: inline-block;
    font-family: "MuseoSans";
    font-size: 1.4em;
    overflow: hidden;
    text-align: right;
}

.thread-plate-title--root-posts {
    text-align: center;
    width: 5%;
    border-right: solid 1px #000;
}

.thread-plate-title--root-threads {
    text-align: center;
    width: 5%;
    border-right: solid 1px #000;
}

.thread-plate-title--root-latest {
    text-align: center;
    width: 15%;
    margin-top: 15px;
    margin-right: 80px;
    border-right: solid 1px #000;
}

.forum-stats {
    padding: 20px;
}

.forum-stat--thread {
    width: 5%;
}

.forum-stat--posts {
    width: 5%;
}

.forum-stat--latest {
    width: 15%;
}



/*******************************************************************************
    Topic Styles
*******************************************************************************/

.topic-link {
    width: 99%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 2px ridge white;
    text-decoration: none;
}

.topic-details {
    font-size: 1em;
    float: left;
    width: 40%;
    border-right: 2px ridge darkgray;
}

.topic-details-description {
    margin-right: 5px;
    margin-left: 20px;
    float: left;
}

/********************************************************************************
    Custom CSS Classes
********************************************************************************/

.tableCustom {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    align-items: stretch;
}

.cmt-action {
    width: 100px;
    display: block;
    margin: 2px;
    padding: 1px;
    text-align: center;
    line-height: 20px;
}

.post-action {
    width: 100px;
    height: 100px;
    text-align: center;
}

.action-article {
    padding: 25px 25px;
    margin: auto;
    display: block;
}

.forum-Post-Action-Container {
    margin: auto;
    display: block;
    padding: 2px;
}

.forum-post-actions {
    display: flex;
    float: right;
    width: 10%;
    text-align: center;

}

.post-detail-thread {
    width: 85%;
    float: left;
    display: block;
    clear: both;
}

.main {
    clear: both;
}


/*****************************************************************************************************
    This is the seperator of modern forum post styling
******************************************************************************************************/

.modern-forum-post-container {
    background: transparent url(https://www.runescape.com/img/rs3/forums/panel.jpg) repeat bottom left;
    box-shadow: 0 -4px 5px -1px #000, 0 4px 5px -1px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 1em;
    border-radius: 20px;
}

.modern-forum-post-container:hover {
    filter: brightness(1.5);
}


.modern-forum-post-row-container {
    display: flex;
    flex-direction: row;
}

.modern-post-profile {
    width: 15%;
    text-align: center;
    padding: 5px;
    float: left;
    border-right: 2px solid black;
}

.modern-post-profile-picture-container {
}

.modern-post-profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.modern-comment-profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.modern-post-profile-displayname {
    font-size: 2.5em;
    color: #f70fe0;
}

.modern-post-details {
    margin-left: 40px;
    padding: 5px;
}

.modern-post-title {
    color: #e1bb34;
    font-family: "MuseoSans";
    font-size: 2.5em;
    letter-spacing: normal;
    font-weight: normal;

    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.modern-post-action-like-picture {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.modern-threads-picture {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.modern-post-actions {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 750px;
    margin-right: 100px;
    text-align: center;
}

.modern-post-actions-like {
    display: flex;
    flex-direction: row;
}

.modern-post-action {
    margin-left: 50px;
}

.modern-post-text {
    font-size: 1.25em;
}

.modern-forum-topic-title {
    color: #e1bb34;
    font-family: "MuseoSans";
    font-size: 2.5em;
    letter-spacing: normal;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    margin-left: 30px;
}

.modern-formum-topic-summary {
    color: #d7dbe1;
    font-size: 1.2em;
    white-space: pre-wrap;
    margin-left: 30px;
}

.modern-thread-link {
    text-decoration: none;
}

.modern-section-actions {
    float: right;
}

.modern-forum-index-header-text {
    font-size: 1.2em;
}


.modern-forum-post-row-container img {
    /*This is used to override the uploaded size of forum post.*/
    width: 300px;
}

