body {
}

.MainFeedPostImages {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Home Page Content Feed. Main Feed where posts are directly appended*/
#HomeContentFeed {
    margin: auto;
    /*width: 75%;*/
/*    height: 45em;
    position: static;*/
    /*padding: 0em 15em 0em 15em;*/
    overflow-y: auto;
}

.postEditorPadding {
    padding: 0em 15em 0em 15em;
}

/*Home Page Outer Content Feed. This is where the #HomeContentFeed lives*/
.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    height: 0;
    padding-bottom: 35%; /* this sets carousel aspect ratio (4:1 here) */
}

.avatar {
    width: 100%; /* let Bootstrap scale it */
    max-width: 50px; /* don’t let it get bigger than this */
    min-width: 30px; /* don’t let it get smaller than this */
    height: 50px; /* keep natural aspect ratio */
    min-height: 30px;
    object-fit: cover; /* makes square crops look good */
    border-radius: 50%; /* <-- makes it circular */
}

.carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ridge {
    border-style: ridge;
}

.carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: contain; /* or 'contain' if you want stretch instead of crop */
}

/*Controls the Main post summernote textbox text color*/
.note-editor.note-frame .note-editing-area .note-editable {
    color: black;
    /*width: 80.3em;*/
}

/*Controls the Main post summernote textbox text color*/
.note-editable > p {
    color: black;
}

/*Helps disable summernote drag & drop image problem*/
.note-editor .note-dropzone {
    opacity: 0 !important;
}

.user-mention {
    background: #e3f2fd;
    color: #1976d2;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
}

