body {
}

/*Giant Header above Main Feed*/
.feed-header {
    text-shadow: 5px 2px 3px black;
    font-size: 4em;
}

#MainPostTextboxContainer {
    display: flex;
    flex-direction: row;
}

.textbox-area {
    position: fixed;
    top: 92%;
}

#MainPostTextbox {
    width: 45em;
}

/*Home Page Content Feed. Main Feed where posts are directly appended*/
#HomeContentFeed {
    margin: auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 75%;
    height: 50em;
    position: static;
    padding: .5em;
    overflow-y: auto;
}

/*Home Page Outer Content Feed. This is where the #HomeContentFeed lives*/
.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************************************************
****************SCROLLBAR STYLING***************************************************************/

/* width */
::-webkit-scrollbar {
    width: .25em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
    border-radius: 10em;
}

/***********************************************************************************
****************SCROLLBAR STYLING***************************************************************/

#SubmitBtn {
    height: 5em;
    opacity: 1;
}

/*Controls the Main post summernote textbox text color*/
.note-editor.note-frame .note-editing-area .note-editable {
    color: #d7dbe1;
    width: 79.5em;
}

/*Controls the Main post summernote textbox text color*/
.note-editable > p {
    color: #d7dbe1;
}

/*Helps disable summernote drag & drop image problem*/
.note-editor .note-dropzone {
    opacity: 0 !important;
}
