html 
{
  font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    max-width: 98%;
}

.display-4 {
    margin-bottom: 50px;
}

.gridlink {
    margin-right: 10%;
}

.selected {
    border: solid 1px yellow;
    margin: 10px;
    box-shadow: 0px 12px 22px 1px #333;
}
.footerMargin {
    height: 10%;
}