html 
{
  font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.container {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 40px;
    max-width: 98%;
}

.display-4 {
    margin-bottom: 50px;
}

.gridlink {
    margin-right: 10%;
}

.selected {
    border: solid 1px yellow;
}
.footerMargin {
    height: 05%;
}

.footerContainer {
    margin-left: 20px;
}

.post-create-input {
    width: 1000px;
    height: 400px;
}

.login-profile-picture {
    width: 60px;
    height: 60px;
    margin-right: 2px;
}

