@model NHA.Website.Software.Views.Game.Vms.GenreIndexViewModel
@{
    ViewData["Title"] = "Anime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/AnimePages.css">
</head>

@{
    var genreGameCounter = @Model.GameList.Count;
}

<h1>@Model.Genre <em class="h3 text-primary">(@genreGameCounter)</em></h1>

@{
    foreach (var game in Model.GameList)
    {
        <a asp-action="GamePage" asp-route-id="@game.Id" asp-controller="Game" class="link-primary animepage-links">@game.Name</a>
        <br/>
    }
}
