@using NHA.Website.Software.Services.RepositoryPatternFoundationals
@inject IUnitOfWork unitOfWork

@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="css/AnimePages.css">
</head>
@{
    var gamePageCount = await unitOfWork.GamePageRepository.CountAsync(x => x.Id != null);
}
<div>
    <h2>Alphabetical Game Index <em class=" h3 text-primary">(@gamePageCount)</em></h2>
    
    <a asp-action="CreateAnimePage" asp-controller="Anime">Create Game Entry</a>

    <p>Select one of the letters to be view all games beginning with that letter. The games will be listed in alphabetical order. </p>
    
    @{
        string alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        int letterCounter = 0;

        foreach (var letter in alphabet)
        {
            <a asp-action="LetterDetail" asp-controller="Game" asp-route-id="@letterCounter" class="link-primary index-letters">@letter</a>
            letterCounter++;
        }
    }
</div>

