@model NHASoftware.Models.Author

@{
    ViewData["Title"] = "Create";
}

<h1>Create Author</h1>

<hr />

<div class="container">
    <div>
        <label asp-for="Name" class="control-label"></label>
        <input id="name" class="form-control"/>
    </div>
    <div >
        <label asp-for="Address" class="control-label"></label>
        <input id="address" class="form-control"/>
    </div>
</div>

<div>
    <input type="button" id="Submit" class="btn btn-dark" value="Upate Authors."/>
</div>

<div>
    <a asp-action="Index">Return Author List</a>
</div>

@section Scripts {
    <script src="~/Scripts/AddAuthor.js" type="text/javascript"></script>
}
