@model IEnumerable<NHASoftware.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Author List</h1>

<p>
    <a asp-action="Create">Log Author</a>
</p>

<table id="authors" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Author Id</th>
        <th>Author Name</th>
        <th>Author Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/GetAuthorAPICall.js" type="text/javascript"></script>
}
