@model IEnumerable<NHASoftware.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="authors" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Author Id</th>
        <th>Author Name</th>
        <th>Author Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            var table = $("#authors").DataTable({
                ajax: {
                    url: "/api/authors",
                    dataSrc: ""
                },
                columns: 
                [
                    {
                        data: "id"
                    },
                    {
                        data: "name" , 
                        render: function(data, type, author) {
                            return "<a href='/authors/edit/" + author.id + "'>" + author.name + "</a>";
                        }
                    },
                    {
                        data: "address"
                    },
                    {
                        data: "id",
                        render: function (data) 
                        {
                            return "<button class='btn-primary js-delete' data-author-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#authors").on("click", ".js-delete", function () {
                var button = $(this);

                    $.ajax ({ 
                        url: "/api/authors/" + button.attr("data-author-id"),
                        method: "DELETE",
                        success: function () 
                        {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
            });

        });

    </script>
}
