@model NHASoftware.Models.ForumModels.ForumPost

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ForumPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control " />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="ForumText">Forum Text</label>
                    <textarea asp-for="ForumText" class="form-control post-create-input text-wrap:normal" type="text" placeholder="Add Forum post text "></textarea>
                    <span asp-validation-for="ForumText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.CreationDate)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.UserId)
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.ForumTopicId)
                @Html.HiddenFor(m => m.CommentCount)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
