@model NHASoftware.Entities.Forums.ForumPost

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ForumPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumText" class="control-label"></label>
                <!-- <input asp-for="ForumText" class="form-control" /> -->
                <textarea asp-for="ForumText" class="form-control post-create-input text-wrap:normal" type="text"></textarea>
                <span asp-validation-for="ForumText" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(P => P.CreationDate)
            </div>
            <div class="form-group">
                @Html.HiddenFor(P => P.UserId)
            </div>
            
            <div class="form-group">
                <label asp-for="ForumTopicId" class="control-label"></label>
                <select asp-for="ForumTopicId" class="form-control" asp-items="ViewBag.ForumTopicId"></select>
                <span asp-validation-for="ForumTopicId" class="text-danger"></span>
            </div>
            
            @Html.HiddenFor(p => p.LikeCount)

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (!string.IsNullOrWhiteSpace(ViewData["Reffer"].ToString()))
    {
        <a href="@ViewData["reffer"]">Return to Forum Post</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
