<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NHASoftware</title>
    

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Themes/Dark/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NHASoftware.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.css"/>
 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/Images/BitcoinPhoto.jpg")" class="rounded" height="50px" width="100px"/>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="TaskFrequencies" asp-action="Index">Task Frequency</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a></li>

                        }
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="TaskItems" asp-action="Index">Tasks Items</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Crypto" asp-action="Index">Crypto Stats</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a></li>


                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted footerMargin">
    <div class="footerContainer">
        &copy; 2021 - NHASoftware - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.js"></script>
    <script src='https://unpkg.com/spacetime'></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
