@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.Sponsors
@inject IAdMaximizerService AdMaximizerService

@{
        <div id="SponsorListUI" class="col position-fixed bg-light pb-5 mx-auto overflow-scroll w-inherit" style="height: 100%;">
            <div class="row m-auto pt-2 border-bottom border-black rounded-2">
                <div class="h3 text-center text-primary">Sponsors</div>
            </div>
            
            @{
                var ads = await AdMaximizerService.GetBestAdsForUserAsync();

                foreach (var ad in ads)
                {

                    if (ad.VideoUrl != null)
                    {
                        <feature name="@FeatureFlags.SponsorAdsEnabled">
                            <div class="row m-auto pt-1 pb-1 text-center">
                                <iframe src="@ad.VideoUrl"  title="YouTube video player" border="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>
                            </div>
                        </feature>
                    }

                    if (ad.ImageUrl != null)
                    {
                        <div class="row m-auto pt-1 pb-1 text-center">
                            <iframe src=@ad.ImageUrl
                                    title="Sponsor Video"
                                    height="350px"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    }
                }
            }
            <div class="row m-auto pt-1 pb-1">
                <p>Huge shoutout to all of our sponsors for supporting the site, it wouldn't be possible without you.</p>
                <p>if you would like your channel, product, or video promoted or featured click <a class="link-primary">here</a>.</p>
            </div>
        </div>
}