@using NHASoftware.Entities.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _UserManager;
@inject SignInManager<ApplicationUser> _SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/MainPostFeed.css">
</head>

<h1 class="text-center feed-header m-auto fs-2">HRP Feed</h1>

<div class="HomeContainer">
    <div id="HomeContentFeed" user-session-active="@_SignInManager.IsSignedIn(User).ToString()" userId="@_UserManager.GetUserId(User)">
        <div id="ContentFeed">
        </div>
        @if (_SignInManager.IsSignedIn(User))
        {
            <div class="textbox-area">
                <div id="MainPostTextboxContainer">
                    @Html.AntiForgeryToken()
                    <div id="MainPostTextbox"></div>
                    <button id="SubmitBtn" user="@_UserManager.GetUserId(User)" class="btn-dark">Convey Message</button>
                </div>
                <span id="MainPostTextboxValidationMessage" style="display: none; color: red">Error Submitting Post.....</span>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Social_Feed/Gratitude.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            OptimizedMainContentFeedLoad();
        });
    </script>
}