@using NHASoftware.Entities.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _UserManager;
@inject SignInManager<ApplicationUser> _SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/MainPostFeed.css">
</head>

@*<div class="Top-Action-Bar">
    <div id="FriendRequestModalBtn" class="friend-request-popup" onclick="OpenFriendRequestModal">
        <img src="~/Images/Bell_Icon.png" class="navbar-icon-100"/>
        <div id="friend-request-popup-modal" class="friend-request-popup-modal">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Arcu cursus vitae congue mauris rhoncus aenean vel. Iaculis urna id volutpat lacus. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Proin libero nunc consequat interdum varius. At auctor urna nunc id cursus metus aliquam. Penatibus et magnis dis parturient montes nascetur. Tellus rutrum tellus pellentesque eu. Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Duis convallis convallis tellus id interdum velit laoreet. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Vitae auctor eu augue ut lectus. Aenean et tortor at risus. Malesuada pellentesque elit eget gravida cum sociis. Amet massa vitae tortor condimentum.
        </div>
    </div>
</div>*@
<h1 class="h1 text-center feed-header">The Algorithm Page</h1>

<div class="HomeContainer">
    <div id="HomeContentFeed" user-session-active="@_SignInManager.IsSignedIn(User).ToString()" userId="@_UserManager.GetUserId(User)" >
        @if (_SignInManager.IsSignedIn(User))
        {
            <div class="textbox-area">
                <div id="MainPostTextboxContainer">
                    @Html.AntiForgeryToken()
                    <div id="MainPostTextbox"></div>
                    <button id="SubmitBtn" user="@_UserManager.GetUserId(User)" class="btn-dark">Convey Message</button>
                </div>
                <span id="MainPostTextboxValidationMessage" style="display: none; color: red">Error Submitting Post.....</span>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Social_Feed/RebuildMainFeedTextboxes.js"></script>
    <script src="~/Scripts/Social_Feed/ConveyMainPost.js"></script>
    <script src="~/Scripts/Social_Feed/HideComments.js"></script>
    <script src="~/Scripts/Social_Feed/RefreshFeed.js"></script>
    <script src="~/Scripts/Social_Feed/ProfileRedirectLink.js"></script>
    <script src="~/Scripts/Social_Feed/ConveyComment.js"></script>
    <script src="~/Scripts/Social_Feed/Gratitude.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            OptimizedFeedLoad();
        });
    </script>
}