@model NHASoftware.ViewModels.IndexPageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-nowrap">Welcome To NHA Industries!</h1>
</div>

<div>
    <iframe height="400" width="400" class="embed-responsive-item float-left" src="https://www.youtube.com/embed/06outVxOOV4" allowfullscreen></iframe>
    <div class="text-white float-left">This is the first video of a video feed. </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $("#author").text("Author Count: " + @Model.AuthorCount);
        $("#book").text("Book Count: " + @Model.BookCount);
    </script>
}