@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    all information entered on this site is considered free for use. NHA industries is allowed to use all information inputed in our database.
    The purpose of this is to negate any issues with privacy. All information may be sold, manufactured, changed, altered, for various
    Programming test purposes. 
</div>



